converge-api.emmanuelisenah.com {
  encode gzip zstd

  @mailpit path /mailpit*
  handle @mailpit {
    basicauth {
      {$MAILPIT_BASIC_AUTH_USER} {$MAILPIT_BASIC_AUTH_PASSWORD_HASH}
    }
    uri strip_prefix /mailpit
    reverse_proxy mailpit:8025
  }

  reverse_proxy api:{$APP_PORT}
}
