converge-api.emmanuelisenah.com {
  encode gzip zstd

  handle /.well-known/acme-challenge/* {
    file_server
  }

  @mailpitNoSlash path /mailpit
  redir @mailpitNoSlash /mailpit/ 308

  handle_path /mailpit/* {
    basic_auth {
      {$MAILPIT_BASIC_AUTH_USER} {$MAILPIT_BASIC_AUTH_PASSWORD_HASH}
    }
    rewrite * /mailpit{path}
    reverse_proxy mailpit:8025 {
      header_up Host {host}
    }
  }

  reverse_proxy api:{$APP_PORT}
}
